asgiref==3.6.0
brotli==1.0.9
cairocffi==1.5.1
ConfigParser==5.3.0
cx_Oracle==8.3.0
Cython==0.29.34
defusedxml==0.7.1
dl==0.1.0
docutils==0.20
HTMLParser==0.0.2
importlib_metadata==4.6.4
ipython==8.13.2
ipywidgets==8.0.6
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.9.2
new==1.0
numpy==1.24.2
numpy==1.21.5
objgraph==3.5.0
olefile==0.46
ordereddict==1.1
protobuf==3.12.4
psutil==5.9.5
pyaes==1.6.1
pylibdmtx==0.1.10
PyNaCl==1.5.0
pyOpenSSL==23.1.1
Pyphen==0.14.0
PyQt5==5.15.9
PyQt5_sip==12.12.1
PyQt6==6.5.0
PySide2==5.15.2.1
PySide6==6.5.0
pysqlcipher3==1.2.0
pytest==7.3.1
python_bcrypt==0.3.2
python_docx==0.8.11
railroad==0.5.0
sets==0.3.2
Sphinx==7.0.0
sqlcipher3==0.5.0
toml==0.10.2
tornado==6.3.1
watchdog==3.0.0
xmlrpclib==1.0.1
zipp==1.0.0
